   
<div class="row whytmobile">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-push-8 col-md-push-8 col-sm-push-8">
        <img src="images/why_t_mobile_1.jpg" class="img-responsive">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-pull-4 col-md-pull-4 col-sm-pull-4 content">
        <h3>Say goodbye to overages and annual service contracts</h3>
        <p class="content-text">Everyone gets unlimited talk, text, and data on the Data Strong™ network for just $50. Add a second line for $30. Every line after that is just $10 more. All with up to 2GB 4G LTE. Add as much high-speed data as you need. Plain and simple—no annual service contracts, no hidden fees, and no domestic overages.</p>
        <div class="content-link">
            <a href="">Choose the simple choice plan<i class="glyphicon glyphicon-link"></i></a>
        </div>
    </div>

</div>
<div class="row whytmobile">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="images/why_t_mobile_2.jpg" class="img-responsive">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 content">
        <h3>Stream all you want for FREE without using your data.</h3>
        <p class="content-text">Simple Choice users on a qualifying plan are FREE to stream unlimited video on favorite services like Netflix, HBO NOW, Hulu, and many more without using a drop of your data. Streamers, go ahead and Binge On.</p>
        <div class="content-link">
            <a href="">Learn more<i class="glyphicon glyphicon-link"></i></a>
        </div>
        <p class="content-terms">3rd party subscription charges may apply. Video streams at DVD quality (480p+) with Binge On. You may disable Binge On at any time, but will lose Binge On benefits. Not avail. on certain BlackBerry devices/plans.</p>
    </div>