   
<div class="row whytmobile">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-push-8 col-md-push-8 col-sm-push-8">
        <img src="images/why_t_mobile_1.jpg" class="img-responsive">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-pull-4 col-md-pull-4 col-sm-pull-4 content">
        <h3>Upgrade when you want, not when you’re told</h3>
        <p class="content-text">Introducing JUMP! On Demand™, a new program only from T-Mobile. Now you can switch to the latest phones—up to three times a year-with no waiting period or upgrade fees. Simply trade in your eligible phone for a new one.</p>
        <div class="content-link">
            <a href="">Learn more about our upgrade programs<i class="glyphicon glyphicon-link"></i></a>
        </div>
        <p class="content-terms">Participating stores & select devices.</p>
    </div>

</div>
<div class="row whytmobile">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="images/why_t_mobile_2.jpg" class="img-responsive">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 content">
        <h3>Get the hottest new devices</h3>
        <p class="content-text">At T-Mobile, the freedom to get the latest devices at affordable prices is at your fingertips. From Apple to Samsung to LG, choose from a wide selection of flagship devices, for as low as $0 down and 0% interest.</p>
        <div class="content-link">
            <a href="">Check out the latest devices<i class="glyphicon glyphicon-link"></i></a>
        </div>
        <p class="content-terms">If you cancel wireless service, remaining balance on device becomes due. Plus tax/fees.</p>
    </div>